* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f1f0f0;
}

.nav {
  background: none;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5rem;
  /* border-bottom: 1px solid black; */
  box-shadow: 0px 0px 4px black;
  width: 100%;
}

.nav h1 {
  font-style: italic;
  font-size: 1.7rem;
}

.nav h1 span {
  color: #757575;
  text-transform: capitalize;
}

.container {
  /* height: 100vh; */

  /* border: 1px solid red; */
  /* display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; */
}

.form-container {
  /* border: 1px solid red; */
}

.form {
  margin: 0 auto;
  /* border: 1px solid red; */
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 25rem;
  transition: all 0.3s linear;
}

.form div {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.7rem;
  width: 100%;
}

.form div input,
.form div textarea {
  padding: 5px 4px;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

.form div label {
  margin-bottom: 0.3rem;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
}

.submit-btn {
  margin-top: 0.3rem;
  padding: 0.4rem 0;
  width: 30%;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  transition: all 0.3s linear;
  border: 1px solid black;
}

.submit-btn:hover {
  background: #bdbdbd;
}

@media screen and (min-width: 825px) {
  .form {
    width: 30rem;
  }
}

/* review section */
.review-container {
  margin: 2rem auto;
  width: 25rem;
  /* border: 1px solid red; */
}

.review-section {
  display: flex;
  align-items: flex-start;
  margin-bottom: 1.3rem;
}

.index {
  /* border: 1px solid red; */
  /* width: 10rem;
  height: 2.5rem; */
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
  margin-right: 1rem;
}

.index p {
  padding: 0.5rem 0.65em;
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

.review-section .info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.review-section .info h3 {
  text-transform: capitalize;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  letter-spacing: 3px;
}

.review-section .info p {
  text-transform: capitalize;
  text-align: justify;
  text-justify: inter-word;
  margin: 0.5rem 0;
  line-height: 1.2rem;
}

.review-section .info .delete-btn {
  padding: 0.1rem 0.4rem;
  cursor: pointer;
  background: transparent;
  border: 1px solid black;
  transition: all 0.3s linear;
}

.review-section .info .delete-btn:hover {
  background: black;
  color: white;
  border: 1px solid white;
}

.display-btn {
  background: none;
  border: none;
  color: blue;
  margin-left: 1rem;
  cursor: pointer;
  transition: all 0.3s linear;
}

.display-btn:hover {
  color: black;
}

.alert {
  text-align: center;
  margin: 0 auto 1.7rem auto;
  text-transform: capitalize;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.8rem;
  border: 1px solid black;
  width: 8rem;
  padding: 0.3rem 0;
  display: none;
  color: white;
}

.alert-success {
  background: green;
  display: block;
}

.alert-danger {
  background: red;
  display: block;
}
